@model CRM_CUS.Models.Address

@{
    ViewData["Title"] = "Подробно";
}

<h1>Подробно</h1>

<div>
    <h4>Адрес</h4>
    <hr />
    <dl class="row">
<dt class = "col-sm-2">
            @Html.DisplayName("Страна")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Регион")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Город")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Улица")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Дом")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.House)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Строение")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Building)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Квартира")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apartment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Тип адреса")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressType.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Клиент")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Person.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Изменить</a> |
    <a asp-action="Index">Вернуться</a>
</div>
